.navbar {
  height: 100vh;
  background: linear-gradient(
    180deg,
    var(--primary-dark) 40%,
    var(--primary-color) 100%
  );
  color: var(--light-color);
  width: 260px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  box-shadow: var(--box-shadow);
}

.profileInfo {
  padding: 2rem;
  border-bottom: 1px solid var(--gray-300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileInfo i {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-dark);
  color: var(--light-color);
  border: 2px solid var(--light-color);
  border-radius: 50%;
  padding: 0.8em;
  margin-bottom: 1rem;
  font-size: 2.5em;
  box-shadow: var(--box-shadow);
}

.profileInfo h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--light-color);
}

.profileInfo p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9rem;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 1rem;
}

.navbar ul li {
  padding: 0.8rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
  width: 100%;
}

.navbar ul li a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--light-color);
  font-size: 1rem;
}

.navbar ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar ul li a span {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
